body {
    background: #E8F5E9;
    color: rgba(0, 0, 0, 0.87);
    font-family: sans-serif;
    font-size: large;
    margin: 0;
}

header {
    background-color: #1484D5;
    padding: 0.5em 1em;
}

button {
    background-color:#1484D5;
    border: 2px solid #175E91;
    color: #FFF;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

section,
h1 {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    display: block;
    font-size: 34px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.87);
}

.completed {
    text-decoration: line-through;
}