<header>
    <h1>TODO List</h1>
</header>

<section class="col-md-6 nopad">



    <h2 id="todo-list-placeholder" ng-class="{'hidden' : todosReceived}">
        Loading...
    </h2>
    <h1>TODO List Items:</h1>
    <ul id="todo-list">
        <li ng-repeat="todo in todos | filter:searchTodo" class="listItems">
            <div class="row">
                <div class="col-md-8">
                        <span ng-class="{'completed' : todo.isComplete}">
                            {{ todo.title }}
                        </span>
                </div>
                <div class="col-md-2">
                        <span ng-class="{'hidden' : todo.isComplete}">
                            <button ng-click="completeTodo(todo)" class="btn btn-success btn-block" id="complete-todo"><span class="glyphicon glyphicon-ok"></span></button>
                        </span>
                </div>
                <div class="col-md-2">
                    <button ng-click="deleteTodo(todo)" class="btn btn-danger btn-block" id="delete-todo"><span class="glyphicon glyphicon-trash"></span></button>
                </div>
            </div>
        </li>
    </ul>
</section>

<section class="col-md-6 nopad">

    <div id="count-label" class="count">Number of incomplete items remaining: {{incompleteCount}}</div>
    
    <h1>Search</h1>
    <div class="row">
        <div class="col-md-12">
            <input id="search-todo" type="text" placeholder="Search" ng-model="searchTodo" class="form-control">
        </div>
    </div>

    <h1>Filters</h1>
    <div class="row">
        <div class="col-md-4">
            <button ng-click="applyFilter()" class="btn btn-info btn-block" id="filter-all"><span class="glyphicon glyphicon-refresh"></span> Show All</button>
        </div>
        <div class="col-md-4">
            <button ng-click="applyFilter('incomplete')" class="btn btn-danger btn-block" id="filter-incomplete"><span class="glyphicon glyphicon-thumbs-down"></span> Show Incomplete</button>
        </div>
        <div class="col-md-4">
            <button ng-click="applyFilter('complete')" class="btn btn-success btn-block" id="filter-complete"><span class="glyphicon glyphicon-thumbs-up"></span> Show Complete</button>
        </div>
    </div>

    <h1>Actions</h1>
    <div class="row">
        <div class="col-md-12">
            <button ng-show="completeCount > 0" ng-click="deleteComplete()" class="btn btn-danger btn-block" id="delete-complete"><span class="glyphicon glyphicon-trash"></span> Delete Completed Items</button>
        </div>
    </div>

    <form id="todo-form">
        <div class="row">
            <div class="col-md-8">
                <input id="new-todo" type="text" placeholder="What needs to be done?" ng-model="newTodo" class="form-control">
            </div>
            <div class="col-md-4">
                <button ng-click="createTodo(newTodo)" class="btn btn-success btn-block" id="submit-todo">Create</button>
            </div>
        </div>
    </form>

    <div id="error">{{errorText}}</div>

</section>
